header {
    background-image: url(../img/pattern.png);
    background-color: aquamarine;
    }

.logo{
    width: 150px;
    height: 150px;
}

.testo{
    font-size: larger;
}

.test{
    color: gray;
}
.Booleaner{
    color: blue;
}

.titoli{
    background-color: aqua;
}
.riga_colorata{
    background-color: aquamarine;
}
