header {
    background-image: url(../img/pattern.png);
    background-color: aquamarine;
    }

.logo{
    width: 150px;
    height: 150px;
}

.testo{
    font-size: larger;
}

.test{
    color: gray;
}
.Booleaner{
    color: blue;
}

.titoli{
    background-color: aqua;
}
.riga_colorata{
    background-color: aquamarine;
}

.imgtext1{
    color: rgb(255, 255, 255);
    border-top: 0;
    background-image: url(../img/monitor.jpg);
    width: 200px;
    height: 200px;
}

.imgtext2{
    color: rgb(255, 255, 255);
    border-top: 0;
    background-image: url(../img/graph.jpg);
    width: 200px;
    height: 200px;
}